@inject TrainingLogBackupService TrainingLogBackupService

<CascadingValue Value="@_trainingLogBackup">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

@code {
    public TrainingLogBackup? _trainingLogBackup;
    private bool _dataIsLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        if (!_dataIsLoaded)
        {
                var trainingLogBackup = await TrainingLogBackupService.GetTrainingLogBackupAsync();
                _trainingLogBackup = trainingLogBackup;
                _dataIsLoaded = true;
        }
    }

}