@page "/exercise/{exerciseName?}"
@inject TrainingLogBackupService TrainingLogBackupService

<select id="exercise" @bind:get="@_selectedExerciseName" @bind:set="OnSelectedExerciseChanged">
    @foreach (var exercise in TrainingLogBackup.Exercises)
    {
        <option value="@exercise.ExerciseName">@exercise.ExerciseName</option>
    }
</select>

@if (TrainingLogBackup is null || _selectedExerciseName is null)
{
    <br />
    <span>Select an exercise to see logs for that particular exercise</span>
}
else
{
    <TrainingLogTable TrainingLogs="@TrainingLogBackup.TrainingLogs" Exercise="@_selectedExerciseName" />
}

@code {
    private string? _selectedExerciseName;
    [Parameter]
    public string? ExerciseName { get; set; }
    [CascadingParameter]
    public TrainingLogBackup? TrainingLogBackup { get; set; }

    private void OnSelectedExerciseChanged(string value)
    {
        _selectedExerciseName = value;
    }

    protected override void OnInitialized()
    {
        if (ExerciseName is not null)
        {
            _selectedExerciseName = ExerciseName;
        }
        base.OnInitialized();
    }
}